# Configuration file for pi-plant-monitor

# See https://github.com/abelikoff/pi-plant-monitor

[general]

# list all pot ides configured below.

# Currently the hardware is limited to 4 pumps and 4 sensors, so only 4 pots
# are possible.

pots = pot1 pot2 pot3 pot4


# Minimum time between waterings (hours)
# (to prevent overwatering in case of misconfiguration).
# If not set, it will not be enforced.

time_between_waterings = 12


# Name of the Python class responsible for updates processing
# If not specified, updates are not processed.
# (see also the processor configuration section below)

#update_processor = UpdateCSVLogger


# Configuration for each pot
# Most parameters are optional, unless denoted otherwise.

[pot1]

# Short name for the pot.
shortname = habanero

# Pot description.
description = Habanero Peppers

# Minimal value for the moisture sensor denoting "dry soil"
# You should calibrate it experimentally.
SensorDryLevel = 15000

# Number of hours the pot can go dry before it must be watered.
MaxDryPeriod = 8

# Number of seconds the pump should op[erate for a single watering session.
# (10 seconds roughly corresponds to 1 glass of water for a 100 L/H pump.
WateringDuration = 10

# (required) BCM pin number that controls the pump relay.
RelayBCMPin = 17

# (required) ADC channel controlling the moisture sensor for the pot.
ADCChannel = 0


[pot2]
shortname = chile
description = Thai Chile Peppers
SensorDryLevel = 15000
MaxDryPeriod = 8
WateringDuration = 10
RelayBCMPin = 27
ADCChannel = 1


[pot3]
shortname = other
description = Other Peppers
SensorDryLevel = 15000
MaxDryPeriod = 8
WateringDuration = 10
RelayBCMPin = 22
ADCChannel = 2


[pot4]
shortname = plants
description = Plants
SensorDryLevel = 15000
MaxDryPeriod = 8
WateringDuration = 10
RelayBCMPin = 5
ADCChannel = 3


# This is update processor-specific configuration
# The section name is the same as the update processor.

# If it is present, it is passed to the processor class __init__() method.

[UpdateCSVLogger]
file = ~/watering_stats.csv
# note that config syntax requires escaping percentage signs
timestamp_format = %%Y-%%m-%%d %%H:%%M:%%S
