[general]
pots = pot1 pot2 pot3 pot4


[pot1]
shortname = habanero
name = Habanero Peppers
SensorDryLevel = 26000
MaxDryPeriod = 8
WateringDuration = 10
RelayBCMPin = 17
ADCChannel = 0


[pot2]
shortname = chile
name = Thai Chile Peppers
SensorDryLevel = 26000
MaxDryPeriod = 8
WateringDuration = 10
RelayBCMPin = 27
ADCChannel = 1


[pot3]
shortname = other
name = Other Peppers
SensorDryLevel = 26000
MaxDryPeriod = 8
WateringDuration = 10
RelayBCMPin = 22
ADCChannel = 2


[pot4]
shortname = plants
name = Plants
SensorDryLevel = 26000
MaxDryPeriod = 8
WateringDuration = 10
RelayBCMPin = 5
ADCChannel = 3
